body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #444;
    margin: 5px;
    padding: 5px;
}

.section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

h1, h2, h3 {
    color: #0078d4;
}

p {
    line-height: 1.6;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #444;
    color: #f2f2f2;
}

body.dark-mode .section {
    background-color: #555;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
    color: #0078d4;
}

iframe {
    width:600px;
    height:750px;
}
